@font-face {
    font-family: 'Eczar';
    src: url("@/assets/fonts/Eczar-SemiBold.ttf") format("truetype");
    font-weight: 600;
};
@font-face {
    font-family: 'Roboto';
    src: url("@/assets/fonts/Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
};
@font-face {
    font-family: 'Roboto';
    src: url("@/assets/fonts/Roboto-Medium.ttf") format("truetype");
    font-weight: 500;
};
@font-face {
    font-family: 'Roboto';
    src: url("@/assets/fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
};
@font-face {
    font-family: 'RobotoMono';
    src: url("@/assets/fonts/RobotoMono-Bold.ttf") format("truetype");
    font-weight: 700;
};
@font-face {
    font-family: 'RobotoMono';
    src: url("@/assets/fonts/RobotoMono-Medium.ttf") format("truetype");
    font-weight: 500;
};
@font-face {
    font-family: 'RobotoMono';
    src: url("@/assets/fonts/RobotoMono-Regular.ttf") format("truetype");
    font-weight: 400;
};