  @mixin fade-transition {
    transition-property: color, background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }

  @mixin expand-transition {
    transition: width 0.3s ease-in-out;
  }