@import 'colors';

$primary-nav-color: $color-cherry-red;
$primary-text-color: $color-tuna;
$secondary-text-color: $color-jumbo;
$success-color: $color-eucalyptus;
$danger-color: $color-cherry-red;
$label-text-color: $color-bittersweet;
$chip-bg-color: $color-wisp-pink;
$input-bg-color: $color-athens-gray