@import 'colors';

$primary-nav-color: $color-cherry-red;
$primary-text-color: $color-tuna;

$success-color: $color-eucalyptus;
$danger-color: $color-cherry-red;
$chip-bg-color: $color-wisp-pink;
$input-bg-color: $color-athens-gray;
$btn-primary-color: $color-cherry-red;
$btn-default-color: $color-snow-white;

//text-colors
$label-text-color: $color-bittersweet;
$primary-text-color: $color-tuna;
$secondary-text-color: $color-jumbo;
$tertiary-text-color: $color-bombay